{% extends "base.html" %}
{% block body %}
<form action="/edit/{{ entry[0] }}" method="POST" class="edit_entry">
  <div class="field">
    <label for="title">Title</label>
    <input type="text" size="30" name="title" id="title" value="{{ entry[1] }}"/>
  </div>
  <div class="field">
    <label for="text">Text</label>
    <textarea name="text" id="text" rows="5" cols="80">{{ entry[2] }}</textarea>
  </div>
  <div class="control_row">
    <input type="submit" value="Update" name="Update"/>
  </div>
</form>
{% endblock %}


